<h1>Rooms</h1>
<p>Find me in app/views/rooms/index.html.erb</p>

<section class="rooms">

	<%= @rooms.each do |room| %>
		<div class="room">

			<h2><%= link_to room.name, rooms_index_path(@room) %></h2>
			<p><%= room.address%></p>
			<p>$<%= room.price_in_pence / 100 %> per wk</p>

		</div>
	<% end %>
</section>